@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Add more @font-face for bold, italic, etc. if you have them */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
